.cm-hero {
  height: auto;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(#000, 0));
  }

  .cm-hero-overview {
    padding: 140px 200px 140px 200px;
    position: relative;
    justify-content: space-between;

    .cm-overview-section-movie {
      max-width: 604px;

      .cm-hero-movie-title {
        font-weight: 700;
        font-size: 52px;
        color: #c6c6c6;
      }

      .cm-overview-detail-container {
        gap: 14px;
        display: flex;
        color: #c6c6c6;
        font-size: 14px;
        font-weight: 700;
        margin-top: 16px;

        .cm-overview-detail {
          gap: 8px;
          display: flex;
          align-items: center;
        }
      }

      .cm-overview-container {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cm-overview-title {
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }

        .cm-overview {
          color: #fff;
          font-size: 12px;
          font-weight: 400;
        }
      }

      .cm-overview-crew-container {
        margin-top: 24px;
        display: flex;
        gap: 100px;

        .cm-overview-crew {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .cm-overview-crew-name {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
          }
          .cm-overview-crew-job {
            color: #cecece;
            font-size: 12px;
            font-weight: 700;
          }
        }
      }

      .cm-overview-detail-btn {
        margin-top: 46px;

        button {
          padding: 8px 32px;
          background: transparent;
          color: #c6c6c6;
          border-radius: 4px;
          border: 1px solid #c6c6c6;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background: #FFF;
            color: #000;
          }
        }
      }
    }
    .cm-overview-section-cast {
      display: flex;
      align-items: flex-end;

      .cm-overview-cast-container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .cm-overview-cast {
          display: flex;
          gap: 16px;
          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.3) 76.11%,
            rgba(0, 0, 0, 0) 100%
          );

          .cm-overview-cast-image {
            height: auto;
            width: 72px;
            border-radius: 8px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }

          .cm-overview-cast-detail {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 20px 0;

            .cm-overview-cast-name {
              color: #fff;
              font-size: 12px;
              font-weight: 700;
            }

            .cm-overview-cast-character {
              color: #cecece;
              font-size: 12px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
